@charset "UTF-8";
/* CSS Document */

@font-face
{
	font-family: mont-r;
	src: url("Montserrat/Montserrat-Regular.ttf")
}

@font-face
{
	font-family: mont-t;
	src: url("Montserrat/Montserrat-Thin.ttf")
}

@font-face
{
	font-family: mont-m;
	src: url("Montserrat/Montserrat-Medium.ttf")
}

@font-face
{
	font-family: mont-semi;
	src: url("Montserrat/Montserrat-SemiBold.ttf")
}

@font-face
{
	font-family: mont-b;
	src: url("Montserrat/Montserrat-Bold.ttf")
}
body
{
	font-family: mont-m;
	margin: 0 auto;
	padding: 0 0;
}
.nav-bg
{
	height: 70px;
	width: 100%;
	background: linear-gradient(90deg, #218AFB 0%, #7100FF 100%);
	padding-top: 0;
	margin-top: 0;
	overflow: hidden;
}

#navbar {
  overflow: hidden;
  background: linear-gradient(90deg, #218AFB 0%, #7100FF 100%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.content 
{
	padding: 20px;
}
.nav-logo img
{
	padding: 7px 3px;
	width: 20%;
	height: 73%;
	margin-top: 10px;
}
.nav-logo p
{
	font-family: mont-m;
	color: white;
	font-size: 35px;
	line-height: 65px;
	margin-left: 18px;
}
.nav-title ul
{
	float: right;
	list-style: none;
}
.nav-title ul li
{ 
float: left
}
.nav-title ul li a
{
	text-decoration: none;
	font-size: 20px;
	color: white;
	line-height: 70px;
	letter-spacing: 0.07em;
	padding-right: 30px;
}
.nav-title ul li a:hover
{
	color:#00D58E;
}
.nav-icon ul
{
	list-style: none;
	float: right;
	padding: 0px 0px;
	margin: 0 auto;
}
.nav-icon ul li
{
	float: left;
	padding: 0px 0px;
}
.nav-icon ul li i
{
	color: white;
	font-size: 24px;
	line-height: 65px;
	padding: 0px 0px;
	margin-right: 15px;
}
.header-bg 
{
	background-image:url("1x/amgreat_slider6-01.png");
	background-size: cover;
	margin-top: 60px;
}
.header-tab
{
	margin-bottom: 200px;
	mamargin-top: 30px;
}
.header-title h1
{
	font-family: mont-semi;
	font-size: 40px;
	font-weight:600;
	color: #7100FF;
	letter-spacing: 0.05rem;
}
.header-title
{
	padding-top: 300px;
}
.header-title h2
{
	font-family: mont-semi;
	font-size: 40px;
	font-weight:600;
	margin-top: -50px;
	margin-left: 347px;
	letter-spacing: 0.05rem;
	color: #00D58E;
}
.header-title p
{
	font-family: mont-r;
	font-size: 22px;
	color: #656464;
	margin-top: 10px;
	line-height: 30px;
	margin-bottom: 50px;
}
.header-title button, .product-info button
{
	height: 70px;
	width: 230px;
	background: #7A10FF;
    border-radius: 50px;
	color: white;
	font-family: mont-semi;
	font-size: 30px;
	margin-bottom: 160px;
	cursor: pointer;
	box-shadow: 0 6px #999;
	border: none;
}
.header-title button:hover
{
	background-color: #00D58E;
}
.header-title button:active 
{
	background-color: #00D58E;
	box-shadow: 0 5px #666;
	transform: translateY(3px);
}
.tab-item
{
	width: 255px;
	height: 400px;
	background: #FFFFFF;
box-shadow: 0px 10px 10px 5px rgba(198, 197, 197, 0.25);
border-radius: 20px;
	margin-right: 30px;
}

.tab-item img
{
	padding-top: 30px;
	width: 80px;
	height: 105px;
	text-align: center;
	margin-left: 75px;
	margin-top: 10px
}
.tab-item h4
{
	text-align: center;
	padding-top: 30px;
	color: black;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	padding-bottom: 10px;
}
.tab-item p
{
	font-family: mont-r;
	color: #656464;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
	padding-bottom: 50px;
}

.about-content p
{
	font-family: mont-r;
	font-size: 20px;
	color: #656464;
	line-height: 27px;
	padding-bottom: 20px;
	padding-top: 40px;
}

.about-content h1
{
	text-align: left;
	font-family: mont-semi;
	font-size: 40px;
	color: #7A10FF;
	margin-top: 30px;
	letter-spacing: 2px;
}

.about-img img
{
	margin-left: 80px;
	margin-top: -50px;
}

.product
{
	margin-bottom: 50px; 
	margin-top: 100px;
}
.product-info h1
{
	font-family: mont-semi;
	font-size: 40px;
	line-height: 40px;
	text-align: right;
	color: #7A10FF;
	padding-top: 50px;
}
.product-info p
{
	padding-top: 14px;
	padding-bottom: 20px;
	text-align: right;
	font-family: mont-r;
	font-size: 20px;
	color: #656464;
	padding-left: 25px;
	line-height: 27px;
}
.product-img img
{
	max-width: 100%;
    height: auto;
	margin-top: 30px
}
.product-info dot
{
	height: 25px;
	width: 25px;
	background-color: #B600D8;
	border-radius: 50%;
	display: inline-block;
	text-align: right;
}
.circle
{
	height: 30px;
	width: 30px;
	background-color:#7A10FF;
	border-radius: 100px;
	border-color: #7A10FF;
	border-style: solid;
	margin-left: 518px;
	margin-top: -18px;
	text-align: right;
}
.circle i
{
	color: white;
	margin-right:4px;
	margin-top: 2px;
	font-size: 17px;
}
.product-info h3
{
	font-family: mont-m;
	text-align: right;
	font-size: 30px;
	font-weight: 500;
	padding-top: 25px;
	padding-bottom: 20px;
}
.product-info button
{
	margin-left: 200px;
}
.product-info button:hover
{
	background-color: #00D58E;
}
.product-info button:active 
{
	background-color: #00D58E;
	box-shadow: 0 5px #666;
	transform: translateY(3px);
}
.product-info-1 h1
{
	font-family: mont-semi;
	font-size: 40px;
	line-height: 40px;
	text-align: left;
	color: #7A10FF;
	padding-top: 10px;
}
.product-info-1 p
{
	padding-top: 14px;
	padding-bottom: 20px;
	text-align: left;
	font-family: mont-r;
	font-size: 20px;
	color: #656464;
	line-height: 27px;
}
.product-info-1 h3
{
	font-family: mont-m;
	text-align: left;
	font-size: 30px;
	font-weight: 500;
	padding-top: 30px;
	padding-bottom: 15px;
}
.circle-1
{
	height: 30px;
	width: 30px;
	background-color:#7A10FF;
	border-radius: 100px;
	border-color: #7A10FF;
	border-style: solid;
	margin-top: -18px;
	text-align: left;
}
.circle-1 i
{
	color: white;
	margin-left: 5px;
	margin-top: 2px;
	font-size: 17px;
}
.product-info-1-button button
{
	background: black;
	height: 70px;
	width: 200px;
	border: none;
	color: white;
	font-family: mont-semi;
	font-size: 25px;
	border-radius: 15px;
	margin-right: 10px;
}
.product-info-1-button button i
{
	color: white;
	font-size: 30px;
	padding-right: 8px;
}
.product-info-1-button button img
{
	margin-right: 7px;
	
}
.product-1
{
	margin-bottom: 80px;
	margin-top: 30px;
}
.product-1-img img
{
	width: 95%;
	margin-left: 60px;
	margin-bottom: 20px;
	margin-top: -10px
}
.statistic tr td
{
	font-family: mont-m;
	font-size: 20px;
	color: #838383;
}

.statistic h1
{
	font-family: mont-semi;
	font-size: 40px;
	color: #7A10FF;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 40px;
	letter-spacing: 2px
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px 5px rgba(198, 197, 197, 0.25);
  border-radius: 20px;
}

/* Style table headers and table data */
th, td {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

th
{
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}

th:first-child, td:first-child {
  text-align: left;
}

/* Zebra-striped table rows */
tr:nth-child(even) {
  background-color: #F9F9F9;
}
th:nth-child(4)
{
	background: #7100FF;
	color: white;
}
td:nth-child(4)
{
	background: #7100FF;
}

.fa-check {
  color: #00D58E;
}

.fa-remove {
  color: #FF0060;
}
.subscribe-title h1
{
	font-family: mont-semi;
	font-size: 40px;
	color: #7100FF;
	text-align: center;
	margin-top: 100px;
	letter-spacing: 2px

}
.subscibe-bar
{
	width: 636px;
	height: 56px;
	border: none;
	background: linear-gradient(90deg, #7B11FF 0%, #108CFF 100%);
    box-shadow: 0px 10px 10px 5px rgba(198, 197, 197, 0.25);
    border-radius: 20px;
	margin: 0 auto;
	margin-bottom: 100px;
	color: white;
}
.subscibe-bar input
{
	font-family: mont-r;
	color: white;
	font-size: 18px;
	padding-left: 15px;
	outline: none;
	border: none;
	background: none;
}
.submit button
{
	background: white;
	border-radius: 20px;
	width: 62px;
	height: 40px;
	border: none;
	margin-left: 329px;
	margin-top: 7px;
}
.submit button i
{
	color: #0F8BFE;
	font-size: 22px;
}
/*Chrome / Opera / Safari*/
::-webkit-input-placeholder
{
	color: white;
}
/*Firefox 18-*/
::-moz-placeholder
{
	color:white;
}

/*Firefox 19+*/
::-moz-placeholder
{
	color:white;
}

Internet Explorer
::-ms-input-placeholder
{
	color: white;
}

.footer-bg
{
	width: 100%;
	height: 520px;
	background: linear-gradient(90deg, #7A10FF 0%, #0F8BFE 100%);
}
.footer-logo img
{
	margin-top: 40px;
}
.footer-logo p
{
	font-family: mont-r;
	font-size: 18px; 
	line-height: 45px;
	letter-spacing: 0.07rem;
	color: white;
	text-align: left;
	margin-top: 30px;
}
.footer-logo h3, .footer-contact h4
{
	margin-top: 70px;
	margin-bottom: 20px;
	font-size: 30px;
	color: white;
	font-family: mont-semi;
}
.footer-circle
{
	height: 50px;
	width: 50px;
	background-color:black;
	border-radius: 100px;
	border-color: #7A10FF;
	border-style: solid;
	margin-top: -10px;
	text-align: left;
	margin-right: 20px;
}
.footer-circle i
{
	color: white;
	font-size: 27px;
	margin-left: 11px;
	margin-top: 8px;
}
.footer-about h3, .footer-contact h3
{
	color: white;
	font-family: mont-semi;
	font-size: 30px;
	margin-top: 70px;
}
.footer-about h3
{
	margin-left: 20px;
}
.footer-about ul
{
	list-style: none;
	margin-top: 27px;
	margin-left: 20px;
}
.footer-about ul li a
{
	text-decoration: none;
	font-family: mont-r;
	font-size: 18px; 
	line-height: 45px;
	letter-spacing: 0.07rem;
	color: white;
}
.footer-about ul li a:hover{
	color: black;
}

.footer-contact ul li i
{
	color: white;
	margin-right: 10px;
	font-size: 20px;
}
.footer-contact ul li 
{
	text-decoration: none;
	font-family: mont-r;
	font-size: 18px; 
	line-height: 45px;
	letter-spacing: 0.07rem;
	color: white;
}
.footer-contact ul
{
	list-style: none;
	margin-top: 27px;
}
.footer-button button
{
	background: black;
	height: 60px;
	width: 150px;
	border: none;
	color: white;
	font-family: mont-semi;
	font-size: 18px;
	border-radius: 15px;
	margin-right: 10px;
	padding-bottom: 7px;
	margin-top: -4px;
}
.footer-button button i
{
	color: white;
	font-size: 25px;
	padding-right: 8px;
}
.footer-button img
{
	padding-top: 3px;
	padding-right: 5px;
}
html
{
	scroll-behavior: smooth;
}